.DButton {
  margin: 1%;
  width: 32%;
  text-align: center;
  background-color: lightgray;
}

button {
  background-color: lightgray;
  border: none;
  padding: 10% 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: xx-large;
}

#lastButton {
  width: 100%;
}

.page-row {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.dashboard-comp {
  width: 50%;
  margin: 1%;
  padding: 1%;
  background-color: lightgray;
}
