.DButton {
  padding: 5%;
  margin: 1%;
  width: 32%;
  text-align: center;
}

#lastButton {
  width: 100%;
}

.page-row {
  display: flex;
  flex-direction: row;
  margin: 1%;
  height: 25%;
}

.dashboard-comp {
  width: 50%;
  margin: 1%;
  padding: 1%;
  background-color: lightgray;
}
